/.cpcache
/.nrepl-port
/bin
/config.sh
/secrets.env
/storage/
/tailwindcss
/target
.calva/
.clj-kondo/.cache
.clj-kondo/.lock
bb/.clj-kondo/.cache
bb/.clj-kondo/.lock
.lsp/
.portal/
.direnv
.cpcache
data/
