{:paths ["src" "resources" "target/resources" "env"]
 :deps
 {org.clojure/clojure                 {:mvn/version "1.11.1"}
  aero/aero                           {:mvn/version "1.1.6"}
  integrant/integrant                 {:mvn/version "0.8.1"}
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
  metosin/muuntaja                    {:mvn/version "0.6.8"}
  metosin/muuntaja-form               {:mvn/version "0.6.8"}
  metosin/reitit                      {:mvn/version "0.7.0-alpha7"}
  metosin/ring-http-response          {:mvn/version "0.9.3"}
  ring/ring                           {:mvn/version "1.11.0-RC2"}
  ring/ring-defaults                  {:mvn/version "0.3.4"}
  hiccup/hiccup                       {:mvn/version "2.0.0-RC2"}
  com.taoensso/timbre                 {:mvn/version "6.3.1"}
  datalevin/datalevin                 {:mvn/version "0.8.25"}
  helpshift/faker                     {:mvn/version "0.3.0"}
  prismatic/schema                    {:mvn/version "1.4.1"}
  org.slf4j/slf4j-nop                 {:mvn/version "2.0.0"}
  org.clojure/core.async              {:mvn/version "1.6.681"}
  aleph/aleph                         {:mvn/version "0.6.3"}}

 :aliases
 {:repl/conjure
  {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                cider/cider-nrepl {:mvn/version "0.42.1"}
                integrant/repl {:mvn/version "0.3.3"}}
   :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]
   :main-opts ["--main" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"
               "--interactive"]
   :extra-paths ["env/dev"]}
  :dev
  {:extra-deps {integrant/repl  {:mvn/version "0.3.3"}
                cider/cider-nrepl {:mvn/version "0.42.1"}
                nrepl/nrepl {:mvn/version "1.0.0"}
                ring/ring-devel {:mvn/version "1.10.0"}
                ring/ring-mock  {:mvn/version "0.4.0"}
                com.nextjournal/beholder {:mvn/version "1.0.2"}}
   :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED" ; needed for datalevin
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
              "-XX:+CrashOnOutOfMemoryError" ; crash on OOM instead of hanging
              "-Duser.timezone=UTC" ; use UTC everywhere
              "-XX:-OmitStackTraceInFastThrow" ; don't omit stack traces
              ,]
   :main-opts ["--main" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"
               "--interactive"]
   :extra-paths ["env/dev"]}}}
