{:infra/http
 {:port 3000
  :handler #ig/ref :infra.ring/handler
  :on-start-ch #ig/ref :app/on-start-ch}

 :infra.ring/handler
 {:router #ig/ref :infra.router/core}

 :infra.router/core
 {:routes #ig/ref :infra.router/routes}

 :infra.router/routes
 {:infra-routes #ig/refset :infra/routes
  :routes #ig/refset :app/routes}

 :infra.routes/health {}
 :infra.db/datalevin {:config "data/datalevin/db"}

 :app.routes/drivers {:on-start-ch #ig/ref :app/on-start-ch}
 :app/on-start-ch {}}
