{:infra/http
 {:port 3000
  :handler #ig/ref :infra.ring/handler
  :on-start-ch #ig/ref :app/on-start-ch
  :shutdown-timeout #profile {:default 15
                              :dev 0}}

 :infra.ring/handler
 {:router #ig/ref :infra.router/core}

 :infra.router/core
 {:routes #ig/ref :infra.router/routes
  :session-store #ig/ref :infra.middleware.session/xtdb
  :user-service #ig/ref :core.services/user}

 :infra.router/routes {:infra-routes #ig/refset :infra/routes
                       :routes #ig/refset :app/routes}

 :infra.routes/health {}

 :infra.db/xtdb {:index-dir "data/xtdb/index"
                 :doc-dir "data/xtdb/doc"
                 :log-dir "data/xtdb/log"}

 :infra.db/xtdb-listener {:node #ig/ref :infra.db/xtdb}

 :infra.middleware.session/xtdb {:node #ig/ref :infra.db/xtdb}

 :app/on-start-ch {}

 :app.repos/user {:node #ig/ref :infra.db/xtdb}
 :app.repos/article {:node #ig/ref :infra.db/xtdb}

 :core.services/user {:user-repo #ig/ref :app.repos/user}
 :core.services/article {:repo #ig/ref :app.repos/article
                         :user-service #ig/ref :core.services/user}

 :app.routes/drivers {:on-start-ch #ig/ref :app/on-start-ch
                      :user-service #ig/ref :core.services/user
                      :article-service #ig/ref :core.services/article}}
