{:infra/http
 {:port 3000
  :handler #ig/ref :infra.ring/handler
  :on-start-ch #ig/ref :app/on-start-ch
  :shutdown-timeout #profile {:default 15
                              :dev 0}}

 :infra.ring/handler
 {:router #ig/ref :infra.router/core}

 :infra.router/core
 {:routes #ig/ref :infra.router/routes
  :session-store #ig/ref :infra.middleware.session/datalevin}

 :infra.router/routes
 {:infra-routes #ig/refset :infra/routes
  :routes #ig/refset :app/routes}

 :infra.routes/health {}

 :infra.db/datalevin-kv {:config "data/datalevin/kv"}

 :infra.db/xtdb {:index-dir "data/xtdb/index"
                 :doc-dir "data/xtdb/doc"
                 :log-dir "data/xtdb/log"}

 :infra.middleware.session/datalevin {:db #ig/ref :infra.db/datalevin-kv}

 :app/on-start-ch {}

 :app.routes/drivers {:on-start-ch #ig/ref :app/on-start-ch
                      :user-service #ig/ref :core.services/user}

 :app.repos/user {:conn #ig/ref :infra.db/xtdb}

 :core.services/user {:user-repo #ig/ref :app.repos/user}}
