{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {conduit.core.services.user {format-to-public-profile {:arities {2 {:args [{:op :keys,
                                                                                                                   :opt {:bio :nilable/string,
                                                                                                                         :image :nilable/string},
                                                                                                                   :req {:user-id :any,
                                                                                                                         :username :string,
                                                                                                                         :email :any,
                                                                                                                         :password :string,
                                                                                                                         :following :set,
                                                                                                                         :created-at :any,
                                                                                                                         :updated-at :any}}
                                                                                                                  :boolean],
                                                                                                           :ret {:op :keys,
                                                                                                                 :opt {:bio :nilable/string,
                                                                                                                       :image :nilable/string},
                                                                                                                 :req {:username :string,
                                                                                                                       :following? :boolean}}}}}},
                                        conduit.infra.middleware.flash {push-flash {:arities {3 {:args [{:op :keys,
                                                                                                         :opt {:flash {:op :keys,
                                                                                                                       :opt {:danger :sequential,
                                                                                                                             :warning :sequential,
                                                                                                                             :success :sequential,
                                                                                                                             :info :sequential,
                                                                                                                             :primary :sequential,
                                                                                                                             :secondary :sequential,
                                                                                                                             :light :sequential,
                                                                                                                             :dark :sequential},
                                                                                                                       :nilable true}}}
                                                                                                        :keyword
                                                                                                        :string],
                                                                                                 :ret {:op :keys,
                                                                                                       :req {:flash {:op :keys,
                                                                                                                     :opt {:danger :sequential,
                                                                                                                           :warning :sequential,
                                                                                                                           :success :sequential,
                                                                                                                           :info :sequential,
                                                                                                                           :primary :sequential,
                                                                                                                           :secondary :sequential,
                                                                                                                           :light :sequential,
                                                                                                                           :dark :sequential}}}}}}},
                                                                        merge-flash {:arities {2 {:args [{:op :keys,
                                                                                                          :opt {:danger :sequential,
                                                                                                                :warning :sequential,
                                                                                                                :success :sequential,
                                                                                                                :info :sequential,
                                                                                                                :primary :sequential,
                                                                                                                :secondary :sequential,
                                                                                                                :light :sequential,
                                                                                                                :dark :sequential},
                                                                                                          :nilable true}
                                                                                                         {:op :keys,
                                                                                                          :opt {:danger :sequential,
                                                                                                                :warning :sequential,
                                                                                                                :success :sequential,
                                                                                                                :info :sequential,
                                                                                                                :primary :sequential,
                                                                                                                :secondary :sequential,
                                                                                                                :light :sequential,
                                                                                                                :dark :sequential},
                                                                                                          :nilable true}],
                                                                                                  :ret {:op :keys,
                                                                                                        :opt {:danger :sequential,
                                                                                                              :warning :sequential,
                                                                                                              :success :sequential,
                                                                                                              :info :sequential,
                                                                                                              :primary :sequential,
                                                                                                              :secondary :sequential,
                                                                                                              :light :sequential,
                                                                                                              :dark :sequential}}}}}},
                                        conduit.app.driving.user-repo {format-to-user {:arities {1 {:args [{:op :keys,
                                                                                                            :opt {:user/bio :nilable/string,
                                                                                                                  :user/image :nilable/string,
                                                                                                                  :user/updated-at :any},
                                                                                                            :req {:xt/id :any,
                                                                                                                  :user/id :any,
                                                                                                                  :user/email :any,
                                                                                                                  :user/username :string,
                                                                                                                  :user/following :set,
                                                                                                                  :user/password :string,
                                                                                                                  :user/created-at :any},
                                                                                                            :nilable true}],
                                                                                                    :ret {:op :keys,
                                                                                                          :opt {:bio :nilable/string,
                                                                                                                :image :nilable/string},
                                                                                                          :req {:user-id :any,
                                                                                                                :username :string,
                                                                                                                :email :any,
                                                                                                                :password :string,
                                                                                                                :following :set,
                                                                                                                :created-at :any,
                                                                                                                :updated-at :any},
                                                                                                          :nilable true}}}},
                                                                       user->put {:arities {1 {:args [{:op :keys,
                                                                                                       :opt {:bio :nilable/string,
                                                                                                             :image :nilable/string},
                                                                                                       :req {:user-id :any,
                                                                                                             :username :string,
                                                                                                             :email :any,
                                                                                                             :password :string,
                                                                                                             :following :set,
                                                                                                             :created-at :any,
                                                                                                             :updated-at :any}}],
                                                                                               :ret :any}}}},
                                        conduit.core.services.article {format-article {:arities {4 {:args [{:op :keys,
                                                                                                            :req {:article-id :any,
                                                                                                                  :author-id :any,
                                                                                                                  :title :string,
                                                                                                                  :slug :string,
                                                                                                                  :description :string,
                                                                                                                  :body :string,
                                                                                                                  :tags :set,
                                                                                                                  :created-at :any,
                                                                                                                  :updated-at :any}}
                                                                                                           {:op :keys,
                                                                                                            :opt {:bio :nilable/string,
                                                                                                                  :image :nilable/string},
                                                                                                            :req {:username :string,
                                                                                                                  :following? :boolean}}
                                                                                                           :int
                                                                                                           :boolean],
                                                                                                    :ret {:op :keys,
                                                                                                          :req {:title :string,
                                                                                                                :slug :string,
                                                                                                                :description :string,
                                                                                                                :body :string,
                                                                                                                :tags :set,
                                                                                                                :is-favorited :boolean,
                                                                                                                :favorites-count :int,
                                                                                                                :author {:op :keys,
                                                                                                                         :opt {:bio :nilable/string,
                                                                                                                               :image :nilable/string},
                                                                                                                         :req {:username :string,
                                                                                                                               :following? :boolean}},
                                                                                                                :created-at :any,
                                                                                                                :updated-at :any}}}}}},
                                        conduit.app.driving.article-repo {format-to-article {:arities {1 {:args [{:op :keys,
                                                                                                                  :opt {:article/updated-at :any},
                                                                                                                  :req {:xt/id :string,
                                                                                                                        :article/title :string,
                                                                                                                        :aritcle/slug :string,
                                                                                                                        :article/description :string,
                                                                                                                        :article/body :string,
                                                                                                                        :article/author-id :string,
                                                                                                                        :article/tags :set,
                                                                                                                        :article/created-at :any},
                                                                                                                  :nilable true}],
                                                                                                          :ret {:op :keys,
                                                                                                                :req {:article-id :any,
                                                                                                                      :author-id :any,
                                                                                                                      :title :string,
                                                                                                                      :slug :string,
                                                                                                                      :description :string,
                                                                                                                      :body :string,
                                                                                                                      :tags :set,
                                                                                                                      :created-at :any,
                                                                                                                      :updated-at :any},
                                                                                                                :nilable true}}}},
                                                                          article->put {:arities {1 {:args [{:op :keys,
                                                                                                             :req {:article-id :any,
                                                                                                                   :author-id :any,
                                                                                                                   :title :string,
                                                                                                                   :slug :string,
                                                                                                                   :description :string,
                                                                                                                   :body :string,
                                                                                                                   :tags :set,
                                                                                                                   :created-at :any,
                                                                                                                   :updated-at :any}}],
                                                                                                     :ret :any}}}}}}}}
