{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {conduit.app.driving.user-repo {format-to-domain {:arities {1 {:args [{:op :keys,
                                                                                                              :opt {:user/bio :nilable/string,
                                                                                                                    :user/image :nilable/string,
                                                                                                                    :user/updated-at :nilable/string},
                                                                                                              :req {:xt/id :any,
                                                                                                                    :user/email :any,
                                                                                                                    :user/username :string,
                                                                                                                    :user/following :set,
                                                                                                                    :user/password :string,
                                                                                                                    :user/created-at :string},
                                                                                                              :nilable true}],
                                                                                                      :ret {:op :keys,
                                                                                                            :opt {:bio :string,
                                                                                                                  :image :string},
                                                                                                            :req {:user-id :any,
                                                                                                                  :username :string,
                                                                                                                  :email :any,
                                                                                                                  :password :string,
                                                                                                                  :following :set,
                                                                                                                  :created-at :string,
                                                                                                                  :updated-at :nilable/string},
                                                                                                            :nilable true}}}}},
                                        conduit.infra.flash {push-flash {:arities {3 {:args [{:op :keys,
                                                                                              :opt {:flash {:op :keys,
                                                                                                            :req {:danger :sequential,
                                                                                                                  :warning :sequential,
                                                                                                                  :success :sequential,
                                                                                                                  :info :sequential,
                                                                                                                  :primary :sequential,
                                                                                                                  :secondary :sequential,
                                                                                                                  :light :sequential,
                                                                                                                  :dark :sequential},
                                                                                                            :nilable true}}}
                                                                                             :keyword
                                                                                             :string],
                                                                                      :ret {:op :keys,
                                                                                            :req {:flash {:op :keys,
                                                                                                          :req {:danger :sequential,
                                                                                                                :warning :sequential,
                                                                                                                :success :sequential,
                                                                                                                :info :sequential,
                                                                                                                :primary :sequential,
                                                                                                                :secondary :sequential,
                                                                                                                :light :sequential,
                                                                                                                :dark :sequential}}}}}}},
                                                             merge-flash {:arities {2 {:args [{:op :keys,
                                                                                               :req {:danger :sequential,
                                                                                                     :warning :sequential,
                                                                                                     :success :sequential,
                                                                                                     :info :sequential,
                                                                                                     :primary :sequential,
                                                                                                     :secondary :sequential,
                                                                                                     :light :sequential,
                                                                                                     :dark :sequential}}
                                                                                              {:op :keys,
                                                                                               :req {:danger :sequential,
                                                                                                     :warning :sequential,
                                                                                                     :success :sequential,
                                                                                                     :info :sequential,
                                                                                                     :primary :sequential,
                                                                                                     :secondary :sequential,
                                                                                                     :light :sequential,
                                                                                                     :dark :sequential}}],
                                                                                       :ret {:op :keys,
                                                                                             :req {:danger :sequential,
                                                                                                   :warning :sequential,
                                                                                                   :success :sequential,
                                                                                                   :info :sequential,
                                                                                                   :primary :sequential,
                                                                                                   :secondary :sequential,
                                                                                                   :light :sequential,
                                                                                                   :dark :sequential}}}}}}}}}}
