{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {conduit.app.driving.user-repo {format-to-domain {:arities {1 {:args [{:op :keys,
                                                                                                              :opt {:user/bio :string,
                                                                                                                    :user/image :string,
                                                                                                                    :user/update-at :string},
                                                                                                              :req {:xt/id :any,
                                                                                                                    :user/email :any,
                                                                                                                    :user/username :string,
                                                                                                                    :user/following :set,
                                                                                                                    :user/password :string,
                                                                                                                    :user/created-at :string},
                                                                                                              :nilable true}],
                                                                                                      :ret {:op :keys,
                                                                                                            :opt {:bio :string,
                                                                                                                  :image :string,
                                                                                                                  :updated-at :string},
                                                                                                            :req {:user-id :any,
                                                                                                                  :username :string,
                                                                                                                  :email :any,
                                                                                                                  :password :string,
                                                                                                                  :following :set,
                                                                                                                  :created-at :string},
                                                                                                            :nilable true}}}}}}}}}
